@page "/entry"
@rendermode InteractiveServer

@using FarmDash.Data
@using FarmDash.Models
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Query
@using static FarmDash.Models.Farm
@inject AppDBContext db

<PageTitle>Enter Data</PageTitle>

<h1>Data Entry</h1>

<EditForm Model="@farmEntry" OnValidSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="card p-4 shadow-sm">
        <legend>Farm Data</legend>
        <p>
            <label for="FarmID">Farm ID:</label>
            <InputNumber id="FarmID" @bind-Value="farmEntry.FarmID"/>
        </p>
        <p>
            <label for="Name">Name:</label>
            <InputText id="Name" @bind-Value="farmEntry.Name"/>
        </p>
        <p>
            <label for="Location">Location:</label>
            <InputText id="Location" @bind-Value="farmEntry.Location"/>
        </p>
        <p>
            <label for="Description">Description:</label>
            <InputText id="Description" @bind-Value="farmEntry.Description"/>
        </p>
        <p>
            <label for="Animal">Animal:</label>
            <InputText id="Animal" @bind-Value="farmEntry.Animal"/>
        </p>
        <p>
            <label for="DeathRate">Death Rate (per 1k):</label>
            <InputNumber id="DeathRate" @bind-Value="farmEntry.DeathRate"/>
        </p>
        <p>
            <label for="SickRate">Sick Rate (per 1k):</label>
            <InputNumber id="SickRate" @bind-Value="farmEntry.SickRate"/>
        </p>
        <p>
            <label for="State">State</label>
            <InputText id="State" @bind-Value="farmEntry.State"/>
        </p>
        <button type="submit">Submit</button>
    </div>
</EditForm>



@code {

    private Farm farmEntry = new();

    private async Task Submit()
    {
            Console.WriteLine($"Submitted Farm ID: {farmEntry.FarmID}");
            db.Add(farmEntry);
            await db.SaveChangesAsync(); 
    }
}