@page "/"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity
@inject Microsoft.AspNetCore.Identity.UserManager<IdentityUser> UserManager
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> SignInManager

<PageTitle>Dashboard Home</PageTitle>

<h1>Dashboard Home</h1>

<h2 style="margin-top: 20px; border-top: rebeccapurple outset 3px;" class="mt-3"></h2>

<div class="row">
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Enter New Farm Data</h5>
                <p class="card-text">Add farms into the database through this form.</p>
                <a href="/Entry" class="btn btn-primary">Data Entry</a>
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">View Farm Data</h5>
                <p class="card-text">Display the current farms in the database, and search and sort them by their attributes.</p>
                <a href="/ViewDataFarms" class="btn btn-primary">View Data</a>
            </div>
        </div>
    </div>
</div>
