@page "/"

<PageTitle>Dashboard Home</PageTitle>

<h1>Dashboard Home</h1>

<h2 style="margin-top: 20px; border-top: rebeccapurple outset 3px;" class="mt-3">Welcome</h2>

<div class="mt-3">
    <p>
        You can use the side bar to enter, edit, and view farms in the database.
    </p>
</div>
