@page "/login"

<h3 class="border-bottom mb-2">Login</h3>

<form method="post" action="/auth/login" enctype="application/x-www-form-urlencoded" @formname="login">
    <AntiforgeryToken />
    <div class="mb-2 col-md-2">
        <label class="form-label fw-bold">Email</label>
        <input name="email" type="email" required class="form-control"/>
    </div>

    <div class="mb-2 col-md-2">
        <label class="form-label fw-bold">Password</label>
        <input name="password" type="password" required class="form-control"/>
    </div>

    <button type="submit" class="btn btn-primary btn-outline-success">Log In</button>
</form>

@if (loginFailed)
{
    <p style="color:red" class="mt-2">Login failed. Check your credentials.</p>
}

@code {
    [SupplyParameterFromQuery]
    public bool loginFailed { get; set; }
}